In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read in csv files
tick_csv = "../CDC_input/Ixodes_scapulari_records.csv"
lyme_csv = "../CDC_input/LD-Case-Counts-by-County-00-18.csv"

In [3]:
# build base dataframes
tick_df = pd.read_csv(tick_csv)
lyme_df = pd.read_csv(lyme_csv, encoding='ISO-8859-1')

In [4]:
# check out of tick df
# remove data source column, info will be noted in docs, not needed for df
del tick_df["Data_Source"]
new_cols = ["fips_code","state","county","county_status"]
tick_df.columns = new_cols
tick_df.head()

   fips_code state          county county_status
0       1001    AL  Autauga County   Established
1       1003    AL  Baldwin County   Established
2       1005    AL  Barbour County   Established
3       1007    AL     Bibb County   Established
4       1009    AL   Blount County    No records

In [5]:
# check out lyme df
# change county/state column names to standardized formatting
new_cols = ["county","state","STCODE","CTYCODE","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"]
lyme_df.columns = new_cols
# combine STCODE and CTYCODE into single column
lyme_df["st_cty_code"] = lyme_df["STCODE"].astype(str) +"00"+ lyme_df["CTYCODE"].astype(str)
lyme_df["st_cty_code"] = lyme_df["st_cty_code"].astype("int64")
lyme_df = lyme_df[list(("st_cty_code","county","state","STCODE","CTYCODE","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"))]
# remove old code coloumns that are now redundant
del lyme_df["STCODE"]
del lyme_df["CTYCODE"]
# replace all state names with abbrvs
state_abbrvs = {"st":["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"],
                "abbrv":["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]}
state_abbrvs = dict(zip(state_abbrvs["st"],state_abbrvs["abbrv"]))
lyme_df["state"] = lyme_df["state"].replace(state_abbrvs, regex=True)
lyme_df.head()

,st_cty_code,county,state,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1001,Autauga County,AL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
1,1003,Baldwin County,AL,1,0,1,0,0,0,0,...,1,0,1,1,0,3,1,2,2,0
2,1005,Barbour County,AL,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1007,Bibb County,AL,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,1009,Blount County,AL,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2

In [6]:
# output cleaned data as csvs for later reference
tick_df.to_csv(r"../CDC_output/CDC_tick_status.csv")
lyme_df.to_csv(r"../CDC_output/CDC_lyme_report.csv")